In [2]:
import pandas as pd 
from astropy.time import Time

In [9]:
data = pd.read_csv('https://tess.mit.edu/public/files/TESS_orbit_times.csv',skipfooter=1)

/var/folders/db/hdghk6ts5g11hr10jq0ss625nf1ny2/T/ipykernel_10556/1019568273.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('https://tess.mit.edu/public/files/TESS_orbit_times.csv',skipfooter=1)

In [10]:
sectors = data['Sector'].unique()

In [28]:
df = pd.DataFrame()
for sector in sectors:
    s = data.loc[data['Sector'] == sector]
    start = Time(s['Start of Orbit'].values[0])
    end = Time(s['End of Orbit'].values[1])
    entry = pd.DataFrame()
    entry['Sector'] = [sector]
    entry['mjd_start'] = [start.mjd]
    entry['mjd_end'] = [end.mjd]
    df = pd.concat([df,entry])

In [29]:
df

    Sector     mjd_start       mjd_end
0        1  58324.815972  58352.684028
0        2  58353.607639  58381.020833
0        3  58382.225694  58408.875000
0        4  58410.406250  58436.357639
0        5  58437.482639  58463.795139
..     ...           ...           ...
0       93  60829.357639  60842.638889
0       94  60855.763889  60868.236111
0       95  60881.833333  60894.173611
0       96  60907.274306  60919.989583
0       97  60933.159722  60946.371528

[97 rows x 3 columns]

In [ ]:
def update_sector_times():
    import pandas as pd 
    from astropy.time import Time
    data = pd.read_csv('https://tess.mit.edu/public/files/TESS_orbit_times.csv',skipfooter=1)
    sectors = data['Sector'].unique()
    df = pd.DataFrame()
    for sector in sectors:
        s = data.loc[data['Sector'] == sector]
        start = Time(s['Start of Orbit'].values[0])
        end = Time(s['End of Orbit'].values[1])
        entry = pd.DataFrame()
        entry['Sector'] = [sector]
        entry['mjd_start'] = [start.mjd]
        entry['mjd_end'] = [end.mjd]
        df = pd.concat([df,entry])